:root{
    --clr-1: #2c2446;
    --clr-2: #eeeeee;
    --clr-3: #00000057;
    --clr-4: #6e6e73;
    --clr-5: #616161;
    --clr-6: #1d1d1f;
    --clr-7: #f5f5f5;
    --clr-8: #2997ff;
    --clr-9: #30384e;
    --clr-10: #7c7a7abf;
    --clr-11: #868686;
    --clr-12: #1b1f24;
    --clr-13: #eeeeee1a;
    --clr-14: #24292f;
    --clr-15: #161b22;
    --clr-he1: #052b2f;
    --clr-he2: #073438;
    --clr-h3: #0e4b50;
    --clr-h4: #2d8f85;
    --clr-h5: #637c54;
    --clr-red: #ff7b72;
    --clr-grn: #06c1b8;
    --clr-blu: #7174f9;
    --clr-yel: #dabd1b;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.non-section{
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.norm-bg{
    background:var(--clr-1);
}

.grad-bg1{
    background: rgb(44,36,70);
    background: linear-gradient(180deg, rgba(44,36,70,1) 0%, rgba(27,31,36,1) 100%);
}

.grad-bg2{
    background: var(--clr-12);
}

.grad-bg3{
    background: linear-gradient(180deg, rgba(27,31,36,1) 0%, rgba(44,36,70,1) 100%);
}

.grad-border{
    background-image: radial-gradient(circle at 100% 100%, transparent 9px, #00eeff 9px, #00eeff 10px, transparent 10px), linear-gradient(to right, #00eeff, #fdafe3), radial-gradient(circle at 0% 100%, transparent 9px, #fdafe3 9px, #fdafe3 10px, transparent 10px), linear-gradient(to bottom, #fdafe3, #b82eac), radial-gradient(circle at 0% 0%, transparent 9px, #b82eac 9px, #b82eac 10px, transparent 10px), linear-gradient(to left, #b82eac, #c7feff), radial-gradient(circle at 100% 0%, transparent 9px, #c7feff 9px, #c7feff 10px, transparent 10px), linear-gradient(to top, #c7feff, #00eeff);
    background-size: 10px 10px, calc(100% - 20px) 1px, 10px 10px, 1px calc(100% - 20px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
}

.norm-border{
    background: #262634;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2), 0 7px 15px rgba(0, 0, 0, 0.15);
}

.info-main{
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-card{
    margin: 40px;
}

.info-card h2{
    color: #6e7681;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.grad-border:hover {
    box-shadow: -8px -8px 40px rgba(118,216,255,0.3),
                8px 8px 40px rgba(199,139,255,0.3);
    transition: 0.2s all ease;
  }


  .reveal-r{
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal-r.active{
    transform: translateX(0);
    opacity: 1;
  }

  .reveal-l{
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal-l.active{
    transform: translateX(0);
    opacity: 1;
  }

  .reveal-t{
    position: relative;
    transform: translateY(-50px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal-t.active{
    transform: translateY(0);
    opacity: 1;
  }

  .reveal-d{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal-d.active{
    transform: translateY(0);
    opacity: 1;
  }



  
.pp{
    transition-delay: 0ms;
}

.pp:nth-child(2){
    transition-delay: 0.2s;
}

.pp:nth-child(3){
    transition-delay: 0.3s;
}

.pp:nth-child(4){
    transition-delay: 0.4s;
}



.skill-reveal-l{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s all ease;
}

.skill-reveal-l.active{
  transform: translateY(0);
  opacity: 1;
}